<p><%= @eachTopic.title %><p>

<% @commentAll.each do |c|%>
  <p class="eachComment" ><%= c.word %></p>
<% end %>

<% if user_signed_in? %>
  <p>コメントする</p>
  <%= form_for @comment, url: comment_index_path, method: :post do |c| %>
    <%= c.label "コメント"%><%= c.text_area :word %>
    <%= c.hidden_field :top_id, value: @eachTopic.id %>
    <%= c.hidden_field :user_id, value: @user%>
    <%= c.submit "送信" %>
  <% end %>
<% else %>
  <p>コメントできません</p>
<% end %> 
<%=link_to '戻る', top_index_path %>