<% if user_signed_in? %>
  <% if @eachTopic.userName == current_user.name %>
    <h2><%= @eachTopic.title %></h2>
    <p>投稿者<%= @eachTopic.userName %>さん</p>
    <p><%= @eachTopic.content %><p>
    <%= link_to '削除', top_path(@eachTopic.id), method: :delete %>
  <% else %>
    <p><%= @eachTopic.title %><p>
  <% end %>
<% else %>
  <h2><%= @eachTopic.title %></h2>
  <p>投稿者<%= @eachTopic.userName %>さん</p>
  <p><%= @eachTopic.content %><p>
<% end %>




<% @commentAll.each.with_index(1) do |c, index|%>
<% if user_signed_in? %>
  <% if c.user.name == current_user.name %>
    <div class="eachComment">
      <p class="userName"><%= index %>.<%= c.user.name%>さん</p>
      <div class="erase">
        <p><%= c.word %></p>
        <%=link_to '削除', comment_path(c.id), method: :delete, class:"deleteComment"%>
      </div>
      <%= react_component('Top', name:"Mike") %>
    </div>
  <% else %>
    <div class="eachComment">
      <p class="userName"><%= c.user.name%>さん</p>
      <p class="comment" ><%= c.word %></p>
      <%= react_component('Top', name:"Mike") %>
    </div>
  <% end %>
<% else %>
  <div class="eachComment">
    <p class="userName"><%= index %>.<%= c.user.name%>さん</p>
    <div class="erase">
      <p><%= c.word %></p>
    </div>
    <%= react_component('Top', name:"Mike") %>
  </div>
<% end %>
<% end %>

<% if user_signed_in? %>
  <p>コメントする</p>
  <%= form_for @comment, url: comment_index_path, method: :post, id: "new_comment" do |c| %>
    <%= c.label "コメント"%><br />
    <%= c.text_area :word %><br />
    <%= c.hidden_field :top_id, value: @eachTopic.id %>
    <%= c.hidden_field :user_id, value: current_user.id%>
    <%= c.submit "送信", class:"comment-submit" %>
  <% end %>
<% else %>
  <p>コメントできません</p>
<% end %> 
<%=link_to '戻る', top_index_path %>