<!DOCTYPE html>
<html>
  <head>
    <title>KindSNS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="kindSNS">
      <% if user_signed_in? %>
        <h1 class="title">優しい掲示板</h1>
        <%=link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout"%>
      <% else %>
        <h1 class="title">優しい掲示板</h1>
        <div class="topRight">
          <%=link_to '新規登録', new_user_registration_path, class:"newRegistration"%>
          <%=link_to 'ログイン', new_user_session_path, class:"login"%>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
